html, body {
    box-sizing: border-box;
    font-family: "TT Lakes";
    margin: 0;
} 

*, *:before, *:after {
    box-sizing: inherit;
}

.page-main {
    background-color: rgba(248, 248, 248, 1);  
}

.header-mobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 88px;
    background-color: rgba(255, 255, 255, 1);
}

.header-mobile__button-icon {
    background-color: transparent;
    border: none;
    margin-right: 16px;
    padding: 0;
}
   
.header-mobile__icon {
    margin: 0 20px 0 16.73px;
}

.main__title {
    height: 88px;
    color: rgba(27, 28, 33, 1);
    font-size: 28px;
    letter-spacing: -0.6000000238418579px;
    text-align: left; 
    border-top: 1px solid #D9FFF5;
    margin:0;
    padding: 24px 16px;  
}

.main__title::before {
    content: "";
    position: absolute;
    background-image: url("img/highlight.svg");
    width: 4px;
    height: 40px;
    left: 0;
}

.menu {
    display: flex;
    overflow-x: auto; 
    align-items: center;
    list-style-type: none;
    height: 40px;
    margin: 0;
    padding-left: 16px; 
}

.menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.menu__link {
    color: rgba(126, 126, 130, 1);
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    white-space: nowrap; 
    text-decoration: none;
    background-color: transparent;
    padding: 8px 16.54px 8px;
} 

.menu__link:hover {
    background-color: rgba(255, 255, 255, 1); 
    border: 2px solid rgba(184, 255, 236, 1);
    border-radius: 5px;    
    padding: 8px 14.54px 8px;
}

.info {
    color: rgba(27, 28, 33, 1);
    font-size: 14px;
    line-height: 18px;
    font-weight: 100;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    padding: 10px 16px 35px 16px;
}
   
.info__image {
    margin-top: 16px;
    width: 100%;
    height: auto;  
}

.read-more {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding-left: 32px;
    border: none;
    background-color: transparent;
}

.read-more::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("img/expand.svg");
    transform: translate(-32px);
}

@media (min-width: 320px) and (max-width: 767.98px) {

    .header-mobile__button-icon--tablet, .header-mobile__icon--tablet, .header-desktop, .info__text--tablet, .info__text--desktop {
        display: none;
    }

    .header-mobile__button-icon--repair {
        flex-grow: 1;
        text-align: end;
    }

    .header-mobile__button-icon:first-child {
        margin-left: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1119.98px) {
   
     .header-desktop, .info__text--desktop {
        display: none;
    } 
   
    .header-mobile {
        padding: 0 8px 0 24px;
    }

    .header-mobile__button-icon--call {
        flex-grow: 1;
        text-align: end;
    }
   
    .header-mobile__icon {
        margin: 0 20px 0 4px;
    }

    .main__title--tablet {
        height: 96px;
        padding: 24px 0 32px 24px;
    }

    .menu {
        padding-left: 24px;
    }

    .info {
        display: flex;
        align-items: flex-start;
        color: rgba(27, 28, 33, 1);
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: left;
        padding: 32px 24px;
        gap: 48px;
    }

    .info__text {
        margin-top: 0;
    }

    .info__image {
        width:360px;
        height: 208px;
        margin: 0;
    }            
}

@media (min-width: 1120px) {

     .header-mobile, .main__title, .menu::-webkit-scrollbar {
        display: none;
    } 

    .header-desktop {
        display: flex;
        justify-content: space-between;
        padding: 42px 0 8px 0;   
    } 

    .header-desktop__title {
        height: 40px;
        color: rgba(27, 28, 33, 1);
        font-size: 28px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
        text-indent: 32px; 
        margin: 0;
    }

    .header-desktop__title::before {
        content: "";
        position: absolute;
        background-image: url("img/highlight.svg");
        width: 4px;
        height: 40px;
        left: 0;
    }
    
    .header-desktop__button-repair, .header-desktop__button-checkstatus {
        background-color: inherit;
        border: none;
        font-family: "TT Lakes";
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;           
    }

    .header-desktop__button-repair {
        flex-grow: 1;
        text-align: end;
        margin-right: 72px;
    }

    .header-desktop__button-checkstatus {
       margin-right: 81px;    
    }

    .header-desktop__button-repair::after {
        content: "";
        position: absolute;
        background-image: url("img/repair.svg");
        width: 40px;
        height: 40px;
        margin: -10px 10px;    
    }

    .header-desktop__button-checkstatus::after {
        content: "";
        position: absolute;
        background-image: url("img/checkstatus.svg");
        width: 40px;
        height: 40px;
        margin: -10px 10px;
    }

    .menu--desktop {
        height: 80px;
        padding-left: 32px;
        flex-wrap: wrap;    
    }
    
    .menu__link {
        padding: 8px 19px 8px;
    } 
    
    .menu__link:hover {   
        padding: 8px 17px 8px;
    }

    .info {
        display: flex;
        color: rgba(27, 28, 33, 1);
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        padding: 7px 28.65px 0 34px; 
        gap: 36px;   
    }

    .info__text {
        margin-top: 9.22px;
    }

    .info__image {
        width: 531.35px;
        height: 307px;
        margin-bottom: 49px;
    }
}

@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes/TTLakes-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes/TTLakes-Light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes"; 
    font-style: normal;
    font-weight: 400;
    src: url("TTLakes/TTLakes-Medium.woff") format("woff");
}
