  html {
    box-sizing: border-box;
} 

*, *:before, *:after {
    box-sizing: inherit;
} 

  button {
    font-family: "TT Lakes";
    border: none;
    background-color: inherit;
    margin: 0;
    padding: 0;
    transition-duration: 350ms;
}

  button:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

  body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.1); 
}

  .side-menu {
    width: 320px;
    height: 100vh;
    margin: 0;
    padding: 0 24px;  
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 50px 0 rgba(0, 0, 50, 0.5);
}
 
  .side-menu__header {
    display: flex;
    justify-content: space-between;    
}
 
  .header__button {
    height: 40px;
    margin: 23px 0 53px; 
}
 
  .header__logo {
    position: absolute;
    top: 18.73px;
    left: 80.73px;   
}

  .side-menu__main {
    flex: 1 0 auto;
}
 
  .menu {
    list-style-type: none; 
    margin: 0;
    padding: 0; 
}

  .menu__link {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    margin-bottom: 32px;      
} 

  .menu__link:last-child {
    margin-bottom: 0;
}

  .menu__link a {
    color: rgba(27, 28, 33, 1);
    text-decoration: none;  
}

  .menu__link a:hover {
    color: rgba(126, 126, 130, 1);
    transition-duration: 50ms; 
    transition-timing-function: ease-out;
}

  .menu__link:hover::before {
    content: "";
    position: absolute;
    background-image: url("img/highlight.svg");
    width: 4px;
    height: 32px;
    left: 0;
    transform: translateY(-4px);
}

  .footer-menu, .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
}

  .footer-menu__button {
    height: 40px;
    margin: 0 16px 16px 0;
}

  .contacts__mail, .contacts__phone {
    color: rgba(27, 28, 33, 1);
    text-decoration: none;
    font-family: "TT Lakes";
    text-align: left;
    flex-wrap: wrap;
}
 
 .contacts__mail {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px; 
    margin-bottom: 12px;
}
 
 .contacts__phone {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6000000238418579px; 
    margin-bottom: 40px;
}
 
 .footer__lang {
    display: grid;
    grid-template-columns: 25px 24px 24px;
    grid-template-rows: 24px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding-bottom: 32px;
}
 
 .lang__ru:hover, .lang__en:hover, .lang__ch:hover {
    opacity: 0.5;
    transform: scale(1);
}

@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes/TTLakes-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes/TTLakes-Light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes/TTLakes-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes"; 
    font-style: normal;
    font-weight: 400;
    src: url("TTLakes\TTLakes-Medium.woff") format("woff");
}
